<ul class="list-inline text-center footer-links">

{%- if site.social-network-links.rss and site.rss-description -%}
  <li class="list-inline-item">
    <a href="{{ '/feed.xml' | relative_url }}" title="RSS">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-rss fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">RSS</span>
    </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.email -%}
  <li class="list-inline-item">
    <a href="mailto:{{ site.social-network-links.email }}" title="Email me">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Email me</span>
   </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.calendly -%}
  <li class="list-inline-item">
    <a href="https://calendly.com/{{ site.social-network-links.calendly }}" title="Schedule a meeting with me">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-calendar-check fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Schedule a meeting with me</span>
   </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.facebook -%}
  <li class="list-inline-item">
    <a href="https://www.facebook.com/{{ site.social-network-links.facebook }}" title="Facebook">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Facebook</span>
   </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.telegram -%}
  <li class="list-inline-item">
    <a href="https://t.me/{{ site.social-network-links.telegram }}" title="Telegram">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-telegram-plane fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Telegram</span>
    </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.github -%}
  <li class="list-inline-item">
    <a href="https://github.com/{{ site.social-network-links.github }}" title="GitHub">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">GitHub</span>
   </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.twitter -%}
  <li class="list-inline-item">
    <a href="https://twitter.com/{{ site.social-network-links.twitter }}" title="Twitter">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Twitter</span>
   </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.reddit -%}
  <li class="list-inline-item">
    <a href="https://reddit.com/u/{{ site.social-network-links.reddit }}" title="Reddit">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-reddit fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Reddit</span>
   </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.linkedin -%}
  <li class="list-inline-item">
    <a href="https://linkedin.com/in/{{ site.social-network-links.linkedin }}" title="LinkedIn">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">LinkedIn</span>
   </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.xing -%}
  <li class="list-inline-item">
    <a href="https://www.xing.com/profile/{{ site.social-network-links.xing }}" title="Xing">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-xing fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Xing</span>
   </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.stackoverflow -%}
  <li class="list-inline-item">
    <a href="https://stackoverflow.com/users/{{ site.social-network-links.stackoverflow }}" title="StackOverflow">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-stack-overflow fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">StackOverflow</span>
   </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.snapchat -%}
  <li class="list-inline-item">
    <a href="https://www.snapchat.com/add/{{ site.social-network-links.snapchat }}" title="Snapchat">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-snapchat-ghost fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Snapchat</span>
   </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.instagram -%}
  <li class="list-inline-item">
    <a href="https://www.instagram.com/{{ site.social-network-links.instagram }}" title="Instagram">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Instagram</span>
   </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.youtube -%}
  <li class="list-inline-item">
    <a href="https://www.youtube.com/{{ site.social-network-links.youtube }}" title="YouTube">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">YouTube</span>
   </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.spotify -%}
  <li class="list-inline-item">
    <a href="https://open.spotify.com/user/{{ site.social-network-links.spotify }}" title="Spotify">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-spotify fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Spotify</span>
   </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.telephone -%}
  <li class="list-inline-item">
    <a href="tel:{{ site.social-network-links.telephone }}" title="Phone">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Phone</span>
   </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.steam -%}
  <li class="list-inline-item">
    <a href="https://steamcommunity.com/id/{{ site.social-network-links.steam }}" title="Steam">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-steam fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Steam</span>
   </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.twitch -%}
  <li class="list-inline-item">
    <a href="https://www.twitch.tv/{{ site.social-network-links.twitch }}" title="Twitch">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-twitch fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Twitch</span>
   </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.yelp -%}
  <li class="list-inline-item">
    <a href="https://{{ site.social-network-links.yelp }}.yelp.com" title="Yelp">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-yelp fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Yelp</span>
   </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.mastodon -%}
  <li class="list-inline-item">
    <a rel="me" href="https://{{ site.social-network-links.mastodon }}" title="Mastodon">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-mastodon fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Mastodon</span>
    </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.ORCID -%}
 <li class="list-inline-item">
   <a href="https://orcid.org/{{ site.social-network-links.ORCID }}" title="ORCID">
     <span class="fa-stack fa-lg" aria-hidden="true">
       <i class="fas fa-circle fa-stack-2x"></i>
       <i class="fab fa-orcid fa-stack-1x fa-inverse"></i>
     </span>
     <span class="sr-only">ORCID</span>
   </a>
 </li>
{%- endif -%}

{%- if site.social-network-links.google-scholar -%}
  <li class="list-inline-item">
    <a href="https://scholar.google.com/{{ site.social-network-links.google-scholar }}" title="Google Scholar">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Google Scholar</span>
    </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.patreon -%}
  <li class="list-inline-item">
    <a href="https://patreon.com/{{ site.social-network-links.patreon }}" title="Patreon">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-patreon fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Patreon</span>
    </a>
  </li>
{%- endif -%}
  
{%- if site.social-network-links.medium -%}
  <li class="list-inline-item">
    <a href="https://medium.com/@{{ site.social-network-links.medium }}" title="Medium">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-medium fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Medium</span>
    </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.itchio -%}
  <li class="list-inline-item">
    <a href="https://{{ site.social-network-links.itchio }}.itch.io/" title="Itchio">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-itch-io fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Itchio</span>
   </a>
  </li>
{%- endif -%}
  
{%- if site.social-network-links.discord -%}
  <li class="list-inline-item">
    <a href="https://discord.com/{{ site.social-network-links.discord }}" title="Discord">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-discord fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Discord</span>
   </a>
  </li>
{%- endif -%}
  
{%- if site.social-network-links.kaggle -%}
  <li class="list-inline-item">
    <a href="https://www.kaggle.com/{{ site.social-network-links.kaggle }}" title="Kaggle">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-kaggle fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Kaggle</span>
   </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.hackerrank -%}
  <li class="list-inline-item">
    <a href="https://www.hackerrank.com/{{ site.social-network-links.hackerrank }}" title="Hackerrank">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-hackerrank fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Hackerrank</span>
   </a>
  </li>
{%- endif -%}

<li class="list-inline-item" title="Visit BioFlowHub">
  <a href="https://bioflowhub.com" target="_blank" rel="noopener" style="display:inline-flex;align-items:center;justify-content:center;width:40px;height:40px;border-radius:50%;background:rgba(255,255,255,0.15);border:1px solid rgba(255,255,255,0.2);transition:background 0.2s,transform 0.2s;" onmouseover="this.style.background='rgba(255,255,255,0.28)';this.style.transform='scale(1.1)'" onmouseout="this.style.background='rgba(255,255,255,0.15)';this.style.transform='scale(1)'">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 220 220" width="26" height="26" style="display:block;">
      <defs>
        <style>
          .bfhf-lb{transform-origin:62px 110px;animation:bfhf-br 4s ease-in-out infinite}
          @keyframes bfhf-br{0%,100%{transform:scale(1)}50%{transform:scale(1.03)}}
          .bfhf-vf{stroke-dasharray:50;stroke-dashoffset:50;animation:bfhf-v 3s ease-in-out infinite}
          @keyframes bfhf-v{0%{stroke-dashoffset:50;opacity:0}25%{opacity:1}100%{stroke-dashoffset:-50;opacity:0}}
          .bfhf-cp1{animation:bfhf-c 3s ease-in-out infinite}
          .bfhf-cp2{animation:bfhf-c 3s ease-in-out 1s infinite}
          .bfhf-cp3{animation:bfhf-c 3s ease-in-out 2s infinite}
          @keyframes bfhf-c{0%{stroke-dashoffset:70;opacity:0}20%{opacity:1}100%{stroke-dashoffset:-70;opacity:0}}
          .bfhf-dg1{animation:bfhf-d 3s ease-in-out infinite}
          .bfhf-dg2{animation:bfhf-d 3s ease-in-out 1s infinite}
          .bfhf-dg3{animation:bfhf-d 3s ease-in-out 2s infinite}
          @keyframes bfhf-d{0%,55%{r:5;opacity:0.25}80%{r:7;opacity:1}100%{r:5;opacity:0.25}}
        </style>
        <linearGradient id="bfhf-g1" x1="0%" y1="0%" x2="100%" y2="100%"><stop offset="0%" stop-color="#52b788"/><stop offset="100%" stop-color="#2e7d5e"/></linearGradient>
        <linearGradient id="bfhf-g2" x1="0%" y1="0%" x2="100%" y2="100%"><stop offset="0%" stop-color="#52b788"/><stop offset="100%" stop-color="#40a0c8"/></linearGradient>
        <linearGradient id="bfhf-g3" x1="0%" y1="0%" x2="100%" y2="100%"><stop offset="0%" stop-color="#52b788"/><stop offset="50%" stop-color="#3a9d7a"/><stop offset="100%" stop-color="#40a0c8"/></linearGradient>
      </defs>
      <g class="bfhf-lb">
        <path d="M62,55 C42,70 32,95 36,120 C40,142 55,158 68,162 C65,140 67,118 75,100 C79,91 85,82 90,75" fill="url(#bfhf-g1)" opacity="0.92"/>
        <path d="M90,75 C85,82 79,91 75,100 C67,118 65,140 68,162 C62,158 50,148 44,132 C36,110 38,82 55,65 Z" fill="url(#bfhf-g1)" opacity="0.7"/>
        <path d="M68,162 L90,75" stroke="#74c69d" stroke-width="2.5" fill="none" stroke-linecap="round" class="bfhf-vf"/>
      </g>
      <line x1="95" y1="58" x2="95" y2="162" stroke="url(#bfhf-g3)" stroke-width="13" stroke-linecap="round"/>
      <path d="M95,58 C95,58 130,58 133,75 C136,90 122,100 95,100" fill="none" stroke="url(#bfhf-g3)" stroke-width="13" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M95,100 C95,100 134,100 137,120 C140,138 124,162 95,162" fill="none" stroke="url(#bfhf-g3)" stroke-width="13" stroke-linecap="round" stroke-linejoin="round"/>
      <line x1="137" y1="80" x2="178" y2="80" stroke="url(#bfhf-g2)" stroke-width="4.5" stroke-linecap="round"/>
      <line x1="137" y1="110" x2="172" y2="110" stroke="url(#bfhf-g2)" stroke-width="4.5" stroke-linecap="round"/>
      <line x1="137" y1="140" x2="178" y2="140" stroke="url(#bfhf-g2)" stroke-width="4.5" stroke-linecap="round"/>
      <line x1="137" y1="80" x2="178" y2="80" stroke="#74c69d" stroke-width="4.5" stroke-linecap="round" stroke-dasharray="70" stroke-dashoffset="70" class="bfhf-cp1"/>
      <line x1="137" y1="110" x2="172" y2="110" stroke="#74c69d" stroke-width="4.5" stroke-linecap="round" stroke-dasharray="70" stroke-dashoffset="70" class="bfhf-cp2"/>
      <line x1="137" y1="140" x2="178" y2="140" stroke="#74c69d" stroke-width="4.5" stroke-linecap="round" stroke-dasharray="70" stroke-dashoffset="70" class="bfhf-cp3"/>
      <circle cx="182" cy="80" r="5" fill="#74c69d" class="bfhf-dg1"/>
      <circle cx="176" cy="110" r="5" fill="#74c69d" class="bfhf-dg2"/>
      <circle cx="182" cy="140" r="5" fill="#74c69d" class="bfhf-dg3"/>
    </svg>
    <span class="sr-only">BioFlowHub</span>
  </a>
</li>

</ul>
